[submodule "src/applications/c-cpp-to-javascript/c-cpp-togit submodule add-javascript"]
	path = src/applications/c-cpp-to-javascript/c-cpp-to-javascript
	url = https://github.com/zlatnaspirala/c-cpp-to-javascript
[submodule "src/applications/kurento"]
	path = src/applications/kurento
	url = https://github.com/zlatnaspirala/kms-ov-integrator
